<h3 class="subtitle">Add Comment</h3>

<% if flash[:messages] %>
  <p class="error-message"> <%= flash[:message] %></p>
<% end %>

<%= form_for comment do |f| %>
  <%= f.text_area :content, class:"field comment-box" %><br>
  <input type="hidden" name="comment[user_id]" value="<%= session[:user_id] %>">
  <input type="hidden" name="comment[phrase_id]" value="<%= params[:id] %>">
  <%= f.submit class:"button-text edit-button"%>
<% end %>
