<div class="outer-box category-box">

  <h3 class="category-page-title new-phrase">Edit Your Phrase!</h3>
    <% if !@region %>
    <div class="center-box">
        <%= form_tag("/phrases/#{@phrase.id}/edit_state", method: "patch") do %>
          <%= select_tag "region", options_from_collection_for_select(Region.all, "id", "name"),class:"field" %><br>

          <%= link_to "Back", user_path(User.find session[:user_id]), class:"submit-button button-text link-button" %>
          <%= submit_tag("Next",class:"submit-button button-text") %>
        <% end %>
    </div>
  <% else %>
      <p><span class="category">Region: </span><span class="phrase-show-text"><%= @region.name %></span></p>

      <%= form_for @phrase do |f| %>

        <%= f.label "Edit State?",class:"category" %><br>
        <%= f.collection_select :state_id, @region.states, :id, :abv, class:"field" %><br>

        <%= f.label "Edit Phrase", class:"category" %><br>
        <%= f.text_field :content,class:"field new-phrase-field" %><br>

        <%= f.label "Edit Description", class:"category" %><br>
        <%= f.text_area :description,class:"field new-phrase-field" %><br>

        <%= f.label "Area/City", class:"category" %><br>
        <%= f.text_area :area_or_city, placeholder:"E.g. Chicago, NorCal, Pittsburgh",class:"field new-phrase-field" %><br>

        <%= link_to "Back", new_phrase_path, class:"submit-button button-text link-button" %>

        <%= f.submit class:"submit-button button-text" %>
      <% end %>
  <% end %>
</div>
