<h1>Create a New Phrase</h1>

<fieldset>
  <% if !@region %>
    <%= form_tag("/phrases/state_select", method: "post") do %>
      <%= select_tag "region", options_from_collection_for_select(Region.all, "id", "name") %>

      <%= link_to "Back", user_path(User.find session[:user_id]) %>
      <%= submit_tag("Next") %>
    <% end %>
  <% else %>
    <p>Selected region: <%= @region.name %></p>

    <%= form_tag("/phrases", method: "post") do %>
      <%= label_tag "Select a State:" %><br>
      <%= select_tag "phrase[state_id]", options_from_collection_for_select(@region.states, :id, :abv) %><br>

      <%= label_tag "Phrase" %><br>
      <%= text_field_tag "phrase[content]" %><br>

      <%= label_tag "Describe your new phrase:" %><br>
      <%= text_area_tag "phrase[description]" %>

      <%= link_to "Back", new_phrase_path %>

      <input type="hidden" name="phrase[user_id]" value="<%= session[:user_id] %>">

      <%= submit_tag("Create Phrase") %>
    <% end %>
  <% end %>
</fieldset>
