<h1>Create a New Phrase</h1>

<fieldset>
  <% if !@region %>
    <%= form_tag("/phrases/state_select", method: "post") do %>
      <%= select_tag "region", options_from_collection_for_select(Region.all, "id", "name") %>

      <%= link_to "Back", user_path(User.find session[:user_id]) %>
      <%= submit_tag("Next") %>
    <% end %>
  <% else %>
    <p>Selected region: <%= @region.name %></p>

    <%= form_for Phrase.new do |f| %>
      <%= f.label "Which state is it used in?" %><br>
      <%= f.collection_select :state_id, @region.states, :id, :abv %><br>

      <%= f.label "Enter new Phrase" %><br>
      <%= f.text_field :content %><br>

      <%= f.label "Describe your new phrase" %><br>
      <%= f.text_area :description %><br>

      <%= f.label "Optional: Provide an Area or City" %><br>
      <%= f.text_area :area_or_city, placeholder:"E.g. Chicago, NorCal, Pittsburgh" %><br>

      <input type="hidden" name="phrase[user_id]" value="<%= session[:user_id] %>">
      <%= f.submit %>
    <% end %>
    <%= form_tag '/phrases/new', method: "get" do %>
      <%= submit_tag "Back" %>
    <% end %>
  <% end %>
</fieldset>
