<div class="outer-box">

  <h1 class="title">Sign Up</h1>
  <%= form_for @user do |f| %>
    <p class="field">
      <%= f.text_field :username, placeholder: "Username" %>
    </p>

    <div class="error_message">
      <% if @user.errors[:username] %>
        <%= @user.errors[:username].first %>
      <% end %>
      <br>
    </div>

    <p class="field">
      <%= f.password_field :password, placeholder: "Password" %>
    </p>
    <div class="error_message">
      <% if @user.errors[:password] %>
        <%= @user.errors[:password].first %>
      <% end %>
      <br>
    </div>
    <p class="field">
      <%= f.password_field :password_confirmation, placeholder:"Confirm Password" %>
    </p>
    <div class="error-message">
      <% if @user.errors[:password_confirmation] %>
        <%= @user.errors[:password_confirmation].first %>
      <% end %>
      <br>
    </div>

    <%= f.submit "Create New User",class:"button-text button" %>
  <% end %>
</div>
